!#include ".xres.d/solarized"
!#include ".xres.d/sourcerer"
!#include ".xres.d/eighties"
!#include ".xres.d/gotham"
!#include ".xres.d/gruvbox"
!#include ".xres.d/hybrid"
!#include ".xres.d/hybrid-loco"
!#include ".xres.d/fyry"
!#include ".xres.d/ayy"

!#include ".xres.d/smear"
#include ".xres.d/genmaicha"
!#include ".xres.d/found"
!#include ".xres.d/cloudy"
!#include ".xres.d/nvo"
!#include ".xres.d/raiin"
!#include ".xres.d/mattd"
!#include ".xres.d/base16"

URxvt*scrollBar: false
URxvt*highlightColor: #2f2f2f
URxvt*internalBorder:  20
URxvt*skipBuiltinGlyps: true

!URxvt*depth: 32
!*background: rgba:2000/2400/2c00/c800

URxvt*font:			xft:PragmataPro:size=17,xft:Source Han Sans Regular
!URxvt*font:			-*-tewi-medium-*-*-*-11-*-*-*-*-*-iso10646-*
!URxvt*font:			xft:tamsyn
!URxvt*font:			-*-gohufont-medium-*-*-*-14-*-*-*-*-*-iso10646-*
!URxvt*font:			-*-candy-*-*-*-*-11-*-*-*-*-*-*-*
!URxvt*boldFont:		-*-candy-*-*-*-*-11-*-*-*-*-*-*-*
!URxvt*font:			*-lemon-*
!URxvt*boldFont:		*-lemon-*

!xft.antialias: 1
xft.autohint: 0
xft.hinting: 0
!xft.hintstyle: hintfull
!xft.rgba: rgb
!xft.lcdfilter:  lcddefault

xft.dpi: 92
